.page {
  padding: 2em 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 4em;
}

.siteTitle a {
  color: inherit;
  text-decoration: none;
}

.footer {
  margin-top: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
